@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #22d4fd;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #000000;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-links {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

body {
    background-image: linear-gradient(var(--cor-primaria), 20%, var(--cor-terciaria));
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

p {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

strong {
    color: var(--cor-primaria);
}

.foto_do_portfolio {
    width: 43%;
    height: 30%;
    border-width: 0.4rem;
    border-radius: 0.3rem;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--cor-primaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
    gap: 80px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.botoes-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botoes-links-subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.botao-linkedin,
.botao-github,
.botao-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-secundaria);
    border-radius: 1rem;
    border: 1px solid var(--cor-primaria);
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.botao-linkedin:hover {
    background: #0E76A8;
}

.botao-github:hover {
    background: #171515
}

.botao-instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.rodape {
    padding: 0.5%;
    font-size: 1rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
    text-align: center;
    background: var(--cor-primaria);
    height: 0.5%;
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 2% 0% 0% 0%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }

    .apresentacao-conteudo {
        width: auto;
    }

    .foto_do_portfolio {
        width: 80%;
        height: auto;
    }

}

@media(max-width:600px) {
    .apresentacao-conteudo-titulo {
        font-size: 2rem;
    }

    .botoes {
        gap: 2px;
        font-size: 1rem;
        padding: 15px 0px;
    }

    .foto_do_portfolio {
        width: 80%;
    }
}