@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --cor-primaria: #22d4fd;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #000000;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-links {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

body {
    background-image: linear-gradient(var(--cor-primaria), 20%, var(--cor-terciaria));
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

p {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

strong {
    color: var(--cor-primaria);
}

.foto_do_portfolio {
    width: 43%;
    height: 30%;
    border-width: 0.4rem;
    border-radius: 0.3rem;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--cor-primaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
    gap: 80px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.botoes-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botoes-links-subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-secundaria);
    border-radius: 1rem;
    border: 1px solid var(--cor-primaria);
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.botoes:hover {
    background: var(--cor-hover);
}

.rodape {
    padding: 24px;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
    text-align: center;
    background: var(--cor-primaria);
    height: 5rem;
    color: var(--cor-terciaria);
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 2% 0% 0% 0%;
    }

    .cabecalho-menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo{
        width:auto;
    }

    .foto_do_portfolio{
        width: 60%;
        height: auto;
    }

}

