@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(#22D4FD,25%, black);
    color: white;
    height: 100vh;
    box-sizing: border-box;
}

h1{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

strong{
    color: #22D4FD;
}

.foto_do_portfolio{
    width: 500px;
    height: 400px;
    border-width: 7px;
    border-radius: 5px;
    border-left-style:solid;
    border-bottom-style: solid;
    border-color:#22D4FD;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.botoes-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botoes-links-subtitulo{
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 280px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    border: 1px solid #22D4FD;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #f6f6f6;
}

.botoes:hover{
    background: #000000;
}

.rodape{
    display: flex;
    justify-content: center;
    padding: 24px;
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    background: #22D4FD;
    height: 80px;
    color: #000000;
}